@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
	:root {
	  --background-color: white;
	  --text-color: black;
	  /* Override other variables for light mode */
	}
  }
  
  html, body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--text-color);
	/* Add other global styles here */
  }

  /* .merriweather {
	font-family: "Merriweather",serif;
	font-weight: 300;
	font-style: italic;
  } */
.merriweather {
	font-family: var(--font-merriweather)
}  

.work_sans {
	font-family: var(--font-work_sans);
	
}



/* Remove your custom CSS for the marquee effect */

mux-player {
	--controls: none;
	/* --media-object-fit: cover;
  
	position: absolute;
	inset: 0;
	z-index: 0; */
  }

ul.list-disc {
	list-style-type: disc;
  }
  
  ol.list-decimal {
	list-style-type: decimal;
  }
  
  li {
	margin-left: 1rem;
  }
  

.maylike-products-wrapper {
    margin: 50px 0;
    padding: 0 20px;
    overflow: hidden;
    
  }
  
  .maylike-products-wrapper h2 {
    /* text-align: center;
    margin: 50px; */
    color: #324d67;
    /* font-size: 28px; */
  }
  
  .maylike-products-container {
    display: flex;
    overflow-x: scroll; /* Enable horizontal scrolling */
    gap: 15px;
    padding-bottom: 20px; 
  }
  
  .marquee-container {
    overflow: hidden;
  }
  
  .marquee {
    display: flex;
    animation: marquee-scroll 20s linear infinite;
  }

  .marquee-item {
    flex: 0 0 auto; /* Ensure fixed width for each card */
    width: 300px; 
  } 

  .marquee:hover{
	animation-play-state: paused; /* Pause animation when scrolling is stopped */

  }
  
  

  @keyframes marquee-scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


  



/* html, body {
	width: 100%;
	height: 100%;
} */

.container {
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.field {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 300px;
  margin-top: -300px;
}


.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #fff;
  	border-bottom: 2px solid #fff;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@media screen and (max-width: 1024px) {
  .field{
    margin-top: -200px;
  }
  
}

@media screen and (max-width: 768px) {
  .field{
    margin-top: -100px;
  }
  
}

@media screen and (max-width: 425px) {
  .field{
    margin-top: -50px;
  }
  
}
.scroll {
	display: none; /* Default to hidden */
  }
  
  /* Show scroll button on large devices */
  @media (min-width: 1024px) {
	.scroll {
	  display: block;
	}
  }



  /* FileViewer styles */
.file-viewer-container {
	margin-top: 1rem;
	margin-bottom: 1rem;
  }
  
  /* MuxPlayer styles */
  .mux-player-container {
	width: 100%;
	height: auto;
  }
  
  /* ImageComponent styles */
  .image-container {
	margin-top: 1rem;
	margin-bottom: 1rem;
  }
  
  .image {
	border-radius: 0.25rem;
  }
  
  .image-caption {
	text-align: center;
	font-size: 0.875rem; /* Adjust font size as needed */
	color: #718096; /* Adjust text color as needed */
	margin-top: 0.5rem;
  }
  
  /* Link styles */
  .link {
	color: #3182ce; /* Adjust link color as needed */
	text-decoration: underline;
  }
  
  /* BlockStyles styles */
  /* h1, h2, h3, h4 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
  } */
  
  h1 {
	font-size: 1.5rem; /* Adjust font size as needed */
	font-weight: bold;
	font-family: var(--font-merriweather);
  }
  
  h2 {
	font-size: 1.1rem; /* Adjust font size as needed */
	font-weight: bold;
	font-family: var(--font-merriweather);
  }
  
  h3 {
	font-size: 1.1rem; /* Adjust font size as needed */
	font-weight: bold;
	font-family: var(--font-merriweather);
  }
  
  h4 {
	font-size: 1.1rem; /* Adjust font size as needed */
	font-weight: bold;
	font-family: var(--font-merriweather);
  }
  
  p {
	
	margin-bottom: 1rem;
	line-height: 1.375; 
	text-align:justify;
    font-weight: lighter;
	font-family: var(--font-work_sans);
	font-size: 1.1rem;
  }
  
  /* List styles */
  ul, ol {
	margin-top: 1rem;
	margin-bottom: 1rem;
	line-height: 1.375; 
	text-align:left;
    font-weight: lighter;
	font-family: var(--font-work_sans);
	font-size: 1.1rem;
  }
  
  /* Adjust list styles as needed */
  
  /* HTML: <div class="loader"></div> */
.loader {
	
	width: 60px;
	aspect-ratio: 1;
	color: #ffa516;
	background:
	  linear-gradient(currentColor 0 0) 100%  0,
	  linear-gradient(currentColor 0 0) 0  100%;
	background-size: 50.1% 50.1%;
	background-repeat: no-repeat;
	animation:  l7-0 1s infinite steps(1);
  }
  .loader::before,
  .loader::after {
	content:"";
	position: absolute;
	inset: 0 50% 50% 0;
	background: currentColor;
	transform: scale(var(--s,1)) perspective(150px) rotateY(0deg);
	transform-origin: bottom right; 
	animation: l7-1 .5s infinite linear alternate;
  }
  .loader::after {
	--s:-1,-1;
  }
  @keyframes l7-0 {
	0%  {transform: scaleX(1)  rotate(0deg)}
	50% {transform: scaleX(-1) rotate(-90deg)}
  }
  @keyframes l7-1 {
	49.99% {transform:scale(var(--s,1)) perspective(150px) rotateX(-90deg) ;filter:grayscale(0)}
	50%    {transform:scale(var(--s,1)) perspective(150px) rotateX(-90deg) ;filter:grayscale(0.8)}
	100%   {transform:scale(var(--s,1)) perspective(150px) rotateX(-180deg);filter:grayscale(0.8)}
  }

  #map {
	position: relative;
	width: 100%;
	height: 100%;
  }


  .custom-table {
	width: 100%;
	border-collapse: collapse;
	margin: 16px 0;
  }
  
  .custom-th, .custom-td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
  }
  
  .custom-th {
	background-color: #f4f4f4;
	font-weight: bold;
  }
  
  .custom-td {
	background-color: #ffffff;
  }
  
  .custom-table tr:nth-child(even) {
	background-color: #f9f9f9;
  }
  
  .custom-table tr:hover {
	background-color: #f1f1f1;
  }


  
  
  

